div:nth-child(1) {
  background-color: rgb(255, 221, 221);
  height: 75px;
}
div:nth-child(2) {
  background-color: rgb(255, 160, 160);
  height: 150px;
}
div:nth-child(3) {
  background-color: rgb(255, 125, 125);
  height: 125px;
}
div:nth-child(4) {
  background-color: rgb(255, 75, 75);
  height: 125px;
}
div:nth-child(5) {
  background-color: rgb(255, 222, 200);
}
div:nth-child(6) {
  background-color: rgb(255, 183, 134);
}
div:nth-child(7) {
  background-color: rgb(255, 147, 75);
}
div:nth-child(8) {
  background-color: rgb(255, 113, 19);
}
div:nth-child(9) {
  background-color: rgb(255, 250, 173);
  height: 80px;
}

@media(min-width: 600px) {
  body {
    display: grid;
    height: 900px;
    width: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4), div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8), div:nth-child(9) {
    height: 300px;
    width: 200px;
    grid-row-end: span 1;
    grid-column-end: span 1;
  }
  div:nth-child(1) {
    background-color: rgb(200, 220, 255);
  }
  div:nth-child(2) {
    background-color: rgb(121, 163, 255);
  }
  div:nth-child(3) {
    background-color: rgb(86, 74, 255);
  }
  div:nth-child(4) {
    background-color: rgb(45, 30, 255);
  }
  div:nth-child(5) {
    background-color: orchid;
  }
  div:nth-child(6) {
    background-color: rgb(216, 54, 211);
  }
  div:nth-child(7) {
    background-color: rgb(171, 26, 166);
  }
  div:nth-child(8) {
    background-color: rgb(102, 11, 99);
  }
  div:nth-child(9) {
    background-color: rgb(195, 0, 255);
  }
}

@media(min-width: 800px) {
  body {
    display: grid;
    height: 700px;
    width: 960px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px, 200px, 250px, 150px;
  }
  div:nth-child(1) {
    height: 100px;
    width: 960px;
    grid-row-end: span 1;
    grid-column-end: span 5;
    background-color: rgb(0, 70, 0);
  }
  div:nth-child(2) {
    height: 600px;
    width: 200px;
    grid-row-end: span 3;
    grid-column-end: span 1;
    background-color: rgb(0, 96, 0);
  }
  div:nth-child(3), div:nth-child(4) {
    height: 200px;
    width: 380px;
    grid-row-end: span 1;
    grid-column-end: span 2;
  }
  div:nth-child(3) {
    background-color: rgb(0, 104, 0);
  }
  div:nth-child(4) {
    background-color: rgb(0, 131, 0);
  }
  div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8) {
    height: 250px;
    width: 190px;
    grid-row-end: span 1;
    grid-column-end: span 1;
  }
  div:nth-child(5) {
    background-color: rgb(0, 169, 0);
  }
  div:nth-child(6) {
    background-color: rgb(0, 176, 0);
  }
  div:nth-child(7) {
    background-color: rgb(0, 203, 0);
  }
  div:nth-child(8) {
    background-color: rgb(0, 215, 0);
  }
  div:nth-child(9) {
    height: 150px;
    width:760px;
    grid-row-end: span 1;
    grid-column-end: span 4;
    background-color: rgb(0, 232, 0);
  }
}